quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 380px !important;
    min-width: 380px !important;
    max-width: 380px !important;
    z-index: 99;    
    // width: 280px;
    // min-width: 280px;
    // max-width: 280px;
    .mat-slide-toggle-content {
        flex: 1;
    }
}

.mat-tab-group {
    margin-bottom: 48px;
}

  
  ::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-active{
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
   }


fuse-sidebar {
    width: 350px ;
    min-width: 350px ;
    max-width: 350px ;
}

.mat-tab-label {
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 50px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

$background: white;
$primary: #6c46bd;

.containerChat {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 18px;
 margin-right: 18px;
 margin-bottom: 10px;
}

.caption {
 padding: 30px;
 text-align: center;
 color: $primary;
}

#thumbnail {
 height: 130px;
 width: 130px;
 object-fit: cover;
 border-radius: 50%;
}

 .cardchat {
  background: $background;
  height: 60%;
  width: 500px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 5px black);
//   border-radius: 15px;
  padding: 16px;
 }

.chat-list {
 margin-top: auto;
 display: flex;
 flex-direction: column;
 padding: 16px;
 overflow-y: scroll;


 .chat-item {
   max-width: 80%;
   margin: 8px 0px;
   display: flex;
   flex-direction: row;

   #message-body {
     background: #cbc9c9;
     margin: auto 8px;
     padding: 12px 24px;
     border-radius: 30px;
     color: white;
     display: flex;
     flex-direction: row;
   }

   #avatar {
     height: 44px;
     width: 44px;
     object-fit: cover;
     border-radius: 50%;
     z-index: 99;
     border: 3px solid $background;
   }
 }

 .left {
   margin-right: auto;
   margin-left: 8px;

   #message-body {
     margin-left: -10px;
   }
 }

 .right {
   margin-right: 8px;
   margin-left: auto;
   flex-direction: row-reverse;

   #message-body {
     margin-right: -10px;
   }
 }
}

.chat-footer {
 display: flex;
 flex-direction: row;
 padding: 16px;
 background: #ffffff;
 border-radius: 6px;

 #chat-textarea {
   flex: 1;
   margin: 0 8px;
   border: 0px;
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
   padding: 16px;
 }

 #send-button {
   border: 0;
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
   background: white;
   padding: 0 8px;
 }

}

#clear-button {
 border: 0;
 box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
 color: white;
 padding: 10px;
 background: $primary;
 border-radius: 6px;
}

::-webkit-scrollbar {
 display: none;
}